.display-4 {
    text-align: center;
}
.lead {
    text-align: center;
}

#jumbo{
    background:black;
}

#textStuff{
    text-align: center;
     color:aqua;
}

#beginButton{
    background: red;
    float: none;
        margin: 0 auto;

}